.newsfeed_aircon{
    margin-bottom: 15px
}



.descending_btn{
    background-color: #FFC016 !important;
    font-size: 10px;
}

.like_btn{
    background-color: #DFDFDF !important;
    font-size: 10px;
}

.card{
    height: 220px;
}


.card-content{
    overflow: hidden;
}

.card-title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.img-responsive.avatar{
    height: 50;
}


.user_post{
    margin: 10px;
}




/* ---------------------------------- */
#above_logo{
    height: 150px;
}

#login_btn{
    margin-top: 30px;
    background-color: #FFC016;
}

#cnt_sign_up_form{
    margin-top: 50px;
    width: 300px;
}

#custom-padding{
    margin-top: 150px;
}
/* ------------------------------------- */

.screen_name{
    color: #FFC016;
    font-size: 30px;
}

.ul {
    list-style-type: none;
}

/* ------------------------------------- */
/* Sharing info screen */
.article{
    color: #FFC016;
    font-size: 20px;
    padding-left: 25px;
    
}


#article_carousel{
    padding-left: 25px;
}